.Pending {
	background-color: rgb(224, 173, 62);
	padding: 1px 4px 2px 4px;
	border-radius: 3px;
}
.Done {
	background-color: rgb(230, 68, 63);
	padding: 1px 13px 2px 13px;
	border-radius: 3px;
}
span {
	margin: 2px;
}
.add-new {
	background-color: rgb(147, 220, 233);
	height: 2rem;
	width: 6rem;
	border-radius: 10px;
}
.navheading{
	z-index: 1;
}
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	#no-more-tables table, 
	#no-more-tables thead, 
	#no-more-tables tbody, 
	#no-more-tables th, 
	#no-more-tables td, 
	#no-more-tables tr { 
		display: block; 
	}
    #no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	#no-more-tables tr { border: 1px solid rgb(7, 16, 39); }
 
	#no-more-tables td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		white-space: normal;
		text-align:left;
		word-wrap: break-word;
	}
 
	#no-more-tables td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
	#no-more-tables td:before { content: attr(data-title); }
}
.empnav ul{
	list-style: none;
}
